@model CreditCardForm

@{
    ViewData["Title"] = "Credit Card Form";
}

@section ExternalImports
{
    <link rel="stylesheet" href="https://api-stage.pcivault.io/pcd/pcd_form.css"/>
    <script src="https://api-stage.pcivault.io/pcd/pcd_form.js"></script>
}

<h2>Credit Card Form</h2>

<div id="pcd_form"></div>

<script defer>
    const model = @Html.Raw(Json.Serialize(Model));

    window.pcd_form(document.getElementById("pcd_form"), {
        submit_secret: model.secret,
        submit_url: model.url,
    })
</script>
