@model CreditCardForm

@{
    ViewData["Title"] = "Credit Card Form";
}

@section ExternalImports
{
    <link rel="stylesheet" href="https://api-stage.pcivault.io/pcd/pcd_form.css"/>
    <script src="https://api-stage.pcivault.io/pcd/pcd_form.js"></script>
}

<h2>@Model.Secret</h2>

<div id="pcd_form"></div>

<script defer>
    window.pcd_form(document.getElementById("pcd_form"), {
        submit_secret: "your_secret_here",
        submit_url: "/v1/capture/demo",
    })
</script>